* {
  margin: 0;
  padding: 0;
}

.signup-form {
  height: 22rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: var(--silver-color);
  box-shadow: 0px 0px 10px var(--dark-black-color);
  text-align: center;
}

.login-info {
  margin: 1rem;
  padding: 1rem;
}

.signup-text-head {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--dark-black-color);
  margin: 1rem;
}
