@import "https://agri-component.netlify.app/css/components.css";

* {
  margin: 0;
  padding: 0;
}

.horizontal-card {
  margin: 0.5rem;
}

.horizontalline {
  border-left: 1px solid var(--universal-border-color);
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: 0rem;
  top: 15%;
}

.invoice {
  height: 26rem;
  width: 20rem;
  background-color: var(--badge-away-color);
  border-radius: 10px;
  margin: 0.5rem;
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 5rem;
  right: 34rem;
  padding: 1rem;
  justify-content: center;
}

.price-item,
.discount-item,
.charges-item,
.total-amount,
.total-save {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
}

.main-conatiner-part {
  display: flex;
  justify-content: space-between;
}
